@model DFPay.Application.ViewModels.CreateUserViewModel
@{
    ViewData["Title"] = Localizer["Create Admin User"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/plugins/jsTree/themes/default/style.css" rel="stylesheet" />
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                    <li class="breadcrumb-item"><a asp-controller="AdminUser" asp-action="Index">@Localizer["Admin User"]</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <form asp-action="CreateUser">
                            <div class="card-body">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <div class="form-group">
                                    <label asp-for="Email"></label> <span class="text-danger">*</span>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label> <span class="text-danger">*</span>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label> <span class="text-danger">*</span>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="submit" id="btnSubmit">@Localizer["Submit"]</button>
                                <a asp-controller="AdminUser" asp-action="Index" class="btn btn-default float-right">@Localizer["Cancel"]</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>